/*
 * Version: 2.1
 * File Description: Place here your custom CSS styles
 */

@font-face {
    font-family: pacifico;
    src: url(../fonts/pacifico.ttf);
}

.logo-footer, #logo, #logo-mobile {
	font-family: pacifico;
	color: #2aa4a5;
	font-size: 2rem;
}

.logo-footer img {
	margin: 0 auto;
}

#logo span, #logo-mobile span, .logo-footer span {
	color: #cfcfcf;
}

.logo a:hover {
	text-decoration: none;
}

.logo img {
	width: 200px;
}

body p, .main-container li, .normal-text {
	font-size: 1.1rem;
}

.hidden {
	/*visibility: hidden;*/
	display: none;
}

.background-img-vision {
  background: url("../images/banner-pulse.jpg") 100% -100px no-repeat;
}

.table-section-title {
	margin-top: 3rem;
}

.table-section {
	margin-top: 2.5rem;
}


.tab-pane:not(.show) {
	display: none;
}